.ST_details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-left: 300px;
    margin-right: 100px;
    padding: 100px 20px; 
} 
.ST_details .ST_supplier {
    position: relative;
    display: grid;
    min-height: 250px;
    background: #1F1D2B;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    color: white;
} 
.ST_details .ST_cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.ST_details .ST_supplier table thead tr {
    color: white;
    border-bottom: 1px solid #EA7C69;
  }
.ST_cardHeader .ST_cardName {
    font-weight: 600;
    color: white;
    font-size: 30px;
}
.ST_cardHeader .ST_cardbtn {
    position: relative;
    padding: 5px 10px;
    background: #EA7C69;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}  
.ST_details table {
    width: 100%;
    border-collapse: collapse;
}
.ST_details table thead td {
    font-weight: 600;
    font-size: 20px;
}
.ST_details .ST_supplier table td {
    padding: 20px;
}

#ST_delete-icon{
  margin-right: 7px; 
}

#ST_update-icon{
  color: white;
  margin-right: 7px;
}

#ST_email-icon{
  color: white;
}

#ST_view-icon{
    align-items: end;
}

.details .supplir table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
  }

  .details .supplir table tr td:last-child {
    text-align: end;
  }
  .details .supplir table tr td:nth-child(2) {
    text-align: end;
  }
  .details .supplir table tr td:nth-child(3) {
    text-align: center;
  }
