.paymentContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    color: var(--white-100);
    min-height: 100vh;
}
.selectedMeal{
    padding: 32px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.selectedMeal .header{
    font-size: 24px;
    font-weight: 600;
}
/* meal section */

.selectedMeal .meal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    background-color: var(--bg-200);
    padding: 32px;
    border-radius: 16px;
}


.name{

    width: 70%;
}

.item .price{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.itemList{
    display: flex;
    flex-direction: column;
    
}
.itemList .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.totalPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.totalPrice .left ,.right{
    font-size: 18px;
    font-weight: 500;
}
.loyaltyPoints{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
}
.loyaltyPoints .left ,.right{
    font-size: 18px;
    font-weight: 500;
}
.loyaltyPoints .right{
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.totalPayment{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
}
.totalPayment .title {
    font-size: 18px;
    font-weight: 500;
}
.totalPayment .amount{
    font-size: 18px;
    font-weight: 500;
}
.loyaltyPoints .right .points{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white-100);
    font-size: 16px;
    opacity: 0.6;
    
}
.input {
    width: 200px; 
    height: 30px;  
    border: 1px solid var(--bg-100); 
    background-color: var(--bg-100);
    color: var(--white-100);
    border-radius: 4px; 
    outline: none; 
    font-size: 14px;
}
.input:focus {
    border-color:var(--white-100); /* Change border color when focused */
    
}
.loyaltyApply{
    display: inline-block;
    padding:16px 24px;
    background-color: var(--bg-100);
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid var(--orange-200);
    cursor: pointer;


}
/* payment section */
.checkoutPayment{
    padding: 32px;
    background-color: var(--bg-200);
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.paymentMethod{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.paymentMethod .header{

    font-size: 20px;
    /* margin-bottom: 24px; */

}
.selectPayment{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}
.bankDetails{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--bg-100);
    border-radius: 8px;
}
.bankDetails .rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.selectPayment .COD {
    display: inline-block;
    padding:16px 32px;
    background-color: var(--bg-100);
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid var(--orange-200);
    cursor: pointer;
  }
  .selectPayment .BT {
    display: inline-block;
    padding:16px 32px;
    background-color: var(--bg-100);
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid var(--orange-200);
    cursor: pointer;
  }
  .selectPayment .active{
    background-color: var(--orange-200);
  }
  .uploadPaymentSlip{
    font-size: 20px;
    padding-top: 8px;
  }
  .paymentSlip {
    width: 340px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 16px;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;  
}
.paymentSlip img {
    width: 100%;
    height: 100%;
    object-fit:fill; /* or 'cover' depending on how you want the image to fit */
}

.paymentSlip input[type="file"] {
    opacity: 0;
    width: 100%; 
    height: 100%;
    cursor: pointer; 
}
/* address */

.selectAddress{

    display: flex;
    flex-direction: column;
    gap: 16px;
}
.selectAddress .header{
    font-size: 20px;
}
.selectAddress .address{

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--bg-100);
    border-radius: 16px;
}

/* cancel and place order buttons */
.actions{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 8px;

}
.actions .cancel{

    display: inline-block;
    padding:16px 32px;
    background-color: var(--bg-100);
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid var(--orange-200);
    cursor: pointer;

}
.actions .placeOrder{
    display: inline-block;
    padding:16px 32px;
    background-color: var(--orange-200);
    color: var(--white-100);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid var(--orange-200);
    cursor: pointer;
}