.top-buttons-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.filter-buttons-deliveries-summary {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

.performance-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    padding: 12px 24px;
    background-color: var(--orange-200);
    border-radius: 8px;
    color: var(--white-100);
    border: none;
    cursor: pointer;
}

.summary-id,
.summary-name,
.summary-date,
.summary-location,
.summary-payment,
.summary-driver {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-id {
    width: 20%;
    text-align: left;
}

.summary-name {
    width: 20%;
    text-align: center;
}

.summary-date {
    width: 10%;
    text-align: center;
}

.summary-location {
    width: 10%;
    text-align: center;
}

.summary-payment {
    width: 10%;
    text-align: center;
}

.summary-driver {
    width: 15%;
    text-align: center;
}

.deliverysummary-report-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}
.deliverysummary-report-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: fit-content;
    border-radius: 10px;
}
.deliverysummary-report-action-btn {
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F28638;
    border: 1px solid #F28638;
    background-color: rgba(255, 181, 114, 0.2);
    cursor: pointer;
}