body {
    margin: 0;
    color: #F4F4F4;
    background-color: #252836;
}

.driver-main {
    width: display;
    padding: 32px;
    margin-left: 10%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.search-container {
    width: 30%;
    border: 1px solid rgba(244, 244, 244, 0.2);
    border-radius: 8px;
    background-color: #252836;
    color: #ABBBC2;
    padding: 8px 12px;
    display: flex;
    align-items: center;
}
.search-container input[type="text"] {
    border: none;
    background-color: transparent;
    color: #F4F4F4;
    font-size: 14px;
    padding: 6px 10px;
    flex: 1;
    outline: none;
}

.search-container input[type="text"]::placeholder {
    color: #9E9E9E;
}

.search-container input[type="text"]:focus {
    outline: none;
}

.search-icon {
    display: flex;
    margin-right: 8px;
    align-items: center;
}
.driver-report-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}
.driver-report-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: fit-content;
    border-radius: 10px;
}
.driver-report-action-btn {
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F28638;
    border: 1px solid #F28638;
    background-color: rgba(255, 181, 114, 0.2);
    cursor: pointer;
}
.fields {
    margin-top: 32px;
}

.fields ul {
    font-weight: 600;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;
}

.driver-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 8px;
}

.item {
    background-color: #1F1D2B;
    border-radius: 10px;
}

.item ul {
    font-weight: 400;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;
}

.item a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.drv-availability-dyn {
    display: inline-block;
    border-radius: 16px;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    width: 60%;
}
.drv-name, .drv-contact, .drv-delivery-count, .drv-rating, .drv-availability {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drv-name {
    width: 25%;
}
.drv-contact {
    width: 15%;
    text-align: center;
}
.drv-delivery-count {
    width: 20%;
    text-align: center;
}
.drv-rating {
    width: 10%;
    text-align: center;
}
.drv-availability {
    width: 30%;
    padding: 0 48px 0 48px;
    text-align: center;
}
.availability-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.info-icon {
    width: 16px;
    height: 16px;
}
.false {
    color: #F28638;
    border: 1px solid #FF7360;
    background-color: rgba(255, 114, 96, 0.2);
}
.true {
    color: #6BE2BE;
    border: 1px solid #6BE2BE;
    background-color: rgba(107, 226, 190, 0.2);
}

.loading-drivers {
    margin-top: 32px;
    background-color: #1F1D2B;
    width: 60%;
    border-radius: 10px;
    height: fit-content;
    padding: 16px;
}
.availability-wrapper {
    position: relative;
}

.drv-tooltiptext {
    visibility: hidden;
    font-size: 12px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.drv-tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.info-icon-container:hover .drv-tooltiptext {
    visibility: visible;
}

