* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #252836;
  }

.SI_title span {

  background-color: #252836;
  width: 300px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 10px; 
  text-align:left;
  color: white;
  font-size: 40px;
}

.SI_title .date {
  font-size: 20px;
}