.reqRefundsBody{
    margin-left: 10%;
}
.editReason{
    width: 100% !important;
}
.submitFormContainer {
    display: flex;
    justify-content: flex-end;/* Adjust as needed */
    padding: 0 16px;
  }
.submitForm {
    background-color: var(--orange-200); /* Blue */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }