:root {
    --bg-200: #1F1D2B;
    --bg-100: #252836;
    --orange-200: #F28638;
    --green-100: #6BE2BE;
    --purple-100: #9290FE;
    --orange-100: #FFB572;
    --white-100: #efefef;
    --red-100: #FF7360;
    --text-light: #ABBBC2;
}