body{
    margin: 0;
    color: #F4F4F4;
    background-color: #252836;
}

.order-history {
    width: display;
}

.top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.container-title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.fields {
    padding: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.fields ul {
    font-weight: 600;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    margin-bottom: 0px;
}

.feedback-container {
    display: flex;
    flex-direction: column;
}

.feedback-item {
    background-color: #1F1D2B;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
}